/* for mobile devices */

@media screen and (max-width: 400px) {
    .nav-container{
        flex-direction: column;
    }

    .nav-list-items{
        flex-direction: column;
        width: 100%;
    }

    .nav-list-items a{
        margin-top: 20px;
    }

    .nav-list-items .login-button{
        width: 100%;
        margin-bottom: 10px;
    }   
/* nav finish */

    .banner-container{
        flex-direction: column;
    }


    .banner-info, .banner-image{
        width: 100%;
        margin-bottom: 20px;
    }

    .btn-primary{
        margin-bottom: 20px;
    }

   .social-icons .fa-brands{
        font-size: 30px;

    }

}